/* Write your code here. */
.navbar-container {
  display: flex;
  justify-content: center;
  padding: 8px;
  background-color: #ffffff33;
}

.title-score-container {
  display: flex;
  justify-content: space-between;
  flex-basis: 80%;
  max-width: 1000px;
}

.logo-title-container {
  display: flex;
  align-items: center;
}

.emoji-logo {
  width: 24px;
}

@media screen and (min-width: 768px) {
  .emoji-logo {
    width: 48px;
  }
}

.main-heading {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 900;
}

@media screen and (min-width: 768px) {
  .main-heading {
    font-size: 23px;
  }
}

.scores-container {
  display: flex;
  color: #ffffff;
}

.score {
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
  margin-left: 16px;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .score {
    color: #ffffff;
    font-size: 23px;
    margin-left: 30px;
  }
}
